@import 'variables';

.wrapper,
.row {
  *zoom: 1;
}
.wrapper:before,
.row:before, .wrapper:after,
.row:after {
  content: " ";
  display: table;
}
.wrapper:after,
.row:after {
  clear: both;
}
.wrapper{
  margin: 50px auto;
}
.wrapper {
  width:320px;
}
.row > [class*='column-']:first-child {
  margin-left: 0;
}
.row > [class*='column-']:last-child {
  margin-right: 0;
}
.row > [class*='column-'] {
  margin: 0 1%;
}
[class*="column-"] {
  position: relative;
  float: left;
  min-height: 1px;
}
[class*="column-"].wd {
  @include border-radius(4px);
  height: auto;
}
[class*="column-"].bck {
  background: $grid-color;
} 
.column-1 {
  width: 6.5%;
}
.column-2 {
  width: 15%;
}
.column-3 {
  width: 23.5%;
}
.column-4 {
  width: 32%;
}
.column-5 {
  width: 40.5%;
}
.column-6 {
  width: 49%;
}
.column-7 {
  width: 57.5%;
}
.column-8 {
  width: 66%;
}
.column-9 {
  width: 74.5%;
}
.column-10 {
  width: 83%;
}
.column-11 {
  width: 91.5%;
}
.column-12 {
  width: 100%;
}
.resp-img {
  display: block;
  width: 100%;
  height:auto;
}
.cont {
  padding: 30px;
}