$grid-color: rgba(255,255,255,0.025);
$placeholder-color: rgba(255,255,255,0.6);
$background-color: #0c0c0c;

$font-family: 'Raleway',sans-serif;

$small-font-size: 12px;
$normal-font-size: 14px;
$medium-font-size: 18px;
$big-font-size: 22px;

$todo-padding: 1rem 1rem 0.5rem 1rem;

$icon-size: 12px;


$border-radius: 4px;
$input-color: rgba(255,255,255,0.05);

$green: #2cc17b;
$blue: #45aeff;
$red: #9C0000;
$dark-grey: #2B2B2B;
