extends layout
block content
	body
		.wrapper
			.row
				.column-12
					h3.home-stage.noselect finex
			.row
				.column-12.wd.bck.cont
						form.dsc
							.column-12
								input(type="text" name="username" placeholder="Username" class="lg" id="username")
							.column-12
								input(type="password" name="password" placeholder="Password" class="lg" id="password")
							.column-12
								input(type="submit" value="Log in" class="lg-btn grn")
			.row.checks
				.column-12.wd.bck
						.column-12
							.cont-s
								p Dont have an account? 
									a(href="/signup").tolink.mkbl Sign up

	block content
	include scripts							
			
										