extends layout
block content
	body
		#platform
			.row
				.column-12
					h3.home-stage.noselect finex
			.row
				.column-12.wd.bck.cont
					a.mkbl(href="/logout") Logout
	script(src="/dist/app/vendor.bundle.min.js")
	script(src="/dist/app/app.bundle.min.js")