@font-face {
	font-family: 'Raleway';
	src: url('../css/RisingSun-Light.otf') format('opentype');
}

.cont {
	padding: 30px;
}
.cont-sw {
	padding: 20px;
}
.cont-s {
	padding: 30px 20px;
}
.center {
	text-align: center !important;
}
.ready {
	font-size:30px;
}
.ready-sub,.ready {
	display: block;
	text-align: center;
	margin-bottom: 10px;
}
.home-stage {
	text-align: center;
	font-size:65px;
	font-weight: bold;
    background: -webkit-linear-gradient(#45aeff, #2cc17b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	margin-bottom: 10px;
}
.tolink {
  text-decoration: none;
  cursor: pointer;
}
.tolink:active {
	opacity:0.7 !important;
}
.warning {
	border: 1px solid white !important;
}
.mkr {
	display: block;
	text-align: center;
	color:#f33846;
	padding-top: 20px;
	font-size: 14px;
	cursor: pointer;
}
.checks {
	margin-top: 20px;
}
.checks p {
	text-align: center;
	font-size: 14px;
}
.lg.search {
	text-align: center;
}
input:disabled {
	opacity:0.7;
}